* {
    margin: 0;
    padding: 0;
    border: 0;
}
#container {
    margin-left: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.color {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#color-black {
    background-color: black;
}

#color-red {
    background-color: red;
}

#color-blue {
    background-color: blue;
}

#color-green {
    background-color: green;
}

.square {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    margin-left: -6px;
    margin-top: -6px;
    margin-bottom: -6px;
}